@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=MedievalSharp:400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash:400');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:400');

// Definizione dei fonts
$family-primary: "Berkshire Swash";
$family-secondary: "Annie Use Your Telescope";

// Definizione dello schema colori custom

$charcoal: #36454F;
$charcoal-invert: findColorInvert($charcoal);
$santorini: #416d83;
$santorini-invert: findColorInvert($santorini);
$sand: #c2b280;
$sand-invert: findColorInvert($sand);
$cobalto: #0047ab;
$cobalto-invert: findColorInvert($cobalto);

$custom-colors: ("charcoal": ($charcoal, $charcoal-invert), "santorini": ($santorini, santorini-invert), "sand": ($sand, $sand-invert), "cobalto": ($cobalto, $cobalto-invert));


// Creo la palette dinamica
@import "./color_mixin.scss";
$colore1: $charcoal;
$colore1-con: choose-contrast-color($colore1);
$colore2: $cobalto;
$colore2-con: choose-contrast-color($colore2);
$colore3: $santorini;
$colore3-con: choose-contrast-color($colore3);
$colore4: $sand;
$colore4-con: choose-contrast-color($colore4);
// Override variabili Bulma
$dark: $colore1;
$success: $colore2;
$info: $colore3;
$danger: $colore4;

$navbar-height: 4rem;

// Import dei file di Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";


// Regole Custom

html,
body {
    height: 100vh;
    overflow: hidden;
}

// Background del div principale tolta la navbar
.background {
    background-color: #6d674d;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.img-white {
    background-color: $colore1-con;
    border:10px solid rgb(184, 162, 22);
    border-radius: 5%;
    padding: 3rem 1.5rem;
    filter: brightness(90%);

}

.char {
    background-color: $sand;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
    border: 2px solid $charcoal;
    .card-image {
        border-bottom: 2px solid $charcoal;
    }
    .media{
        background-color: $sand;
    }
    .card-content{
        background-color: white;
        height: 100%;
        .title {
            font-style: italic;
            font-size: 1.3rem;
        }
        hr {
            border: 1px solid $charcoal;
        }
        .bio {
            font-family: $family-secondary;
            font-size: 1.5rem;
        }

    }
    img {
        border-radius: 50%;
        padding: 10px;
    }
}

.charDW {
    background-color: $sand;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
    border: 4px solid $white;

    .card-image {
        border-bottom: 2px solid $charcoal;
    }

    .media {
        background-color: #917553;
        .title, .subtitle {
            color: white;
        }
    }

    .media-content {
        .title{
            margin-top:1px;
        }
    }

    .card-content {
        background-color: white;
        height: 100%;

        .bio {
            font-family: $family-secondary;
            font-size: 1.6rem;
            font-weight: bold;
        }

        .biog{
            font-family: $family-secondary;
            padding-right: 40px;
            font-size: 1.6rem;
            font-style: italic;
        }

        .title {
            font-style: italic;
            font-size: 1.3rem;
        }

        hr {
            border: 1px solid $charcoal;
        }
    }

    img {
        border-radius: 50%;
        padding: 10px;
    }

    #dwarfLevel {
        color: '#0047ab',
    }
}

.charWZ {
    background-color: $sand;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
    border: 4px solid $white;

    .card-image {
        border-bottom: 2px solid $charcoal;
    }

    .media {
        background-color: $sand;

        .title,
        .subtitle {
            color: white;
        }
    }

    .media-content {
        .title {
            margin-top: 1px;
        }
    }

    .card-content {
        background-color: white;
        height: 100%;

        .bio {
            font-family: $family-secondary;
            font-size: 1.6rem;
            font-weight: bold;
        }

        .biog {
            font-family: $family-secondary;
            padding-right: 40px;
            font-size: 1.6rem;
            font-style: italic;
        }

        .title {
            font-style: italic;
            font-size: 1.3rem;
        }

        hr {
            border: 1px solid $charcoal;
        }
    }

    img {
        border-radius: 50%;
        padding: 10px;
    }
}

.is-horizontal-center {
    justify-content: center;
}

.intro {
    color: $colore1-con;
    text-shadow: 2px 2px 4px $colore1;
    hr {
        border: 1px solid $colore1-con;
    }
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 2em;
    }
    p {
        font-size: 2em;
        font-weight: bold;
    }
}

.navbar-item {
    font-size: 1.5em;
}

/* Progress Bar Skills */
.progress>svg {
    height: 100%;
    display: block;
}