@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=MedievalSharp:400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash:400');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:400');

// Fontawesome
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-pro/webfonts" !default;
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/light";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/duotone";
@import "../../node_modules/@fortawesome/fontawesome-pro/scss/brands";



// Definizione dei fonts
$family-primary: "Berkshire Swash";
$family-secondary: "Annie Use Your Telescope";

// Definizione dello schema colori custom

$charcoal: #36454F;
$charcoal-invert: findColorInvert($charcoal);
$santorini: #416d83;
$santorini-invert: findColorInvert($santorini);
$sand: #c2b280;
$sand-invert: findColorInvert($sand);
$cobalto: #0047ab;
$cobalto-invert: findColorInvert($cobalto);

$custom-colors: ("charcoal": ($charcoal, $charcoal-invert), "santorini": ($santorini, santorini-invert), "sand": ($sand, $sand-invert), "cobalto": ($cobalto, $cobalto-invert));


// Creo la palette dinamica
@import "./color_mixin.scss";
$colore1: $charcoal;
$colore1-con: choose-contrast-color($colore1);
$colore2: $cobalto;
$colore2-con: choose-contrast-color($colore2);
$colore3: $santorini;
$colore3-con: choose-contrast-color($colore3);
$colore4: $sand;
$colore4-con: choose-contrast-color($colore4);
// Override variabili Bulma
$dark: $colore1;
$success: $colore2;
$info: $colore3;
$danger: $colore4;

$navbar-height: 4rem;

// Import dei file di Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";


// Regole Custom

html,
body {
    height: 100vh;
    overflow: hidden;
}

// Background del div principale tolta la navbar
.background {
    background-color: #6d674d;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    overflow: scroll;
    height: 100vh;
    @include from($desktop){
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
    }
}

@include from($desktop){
    section {
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
    }
}


.img-white {
    background-color: $colore1-con;
    border:10px solid rgb(184, 162, 22);
    border-radius: 5%;
    padding: 3rem 1.5rem;
    filter: brightness(90%);

}



@mixin personaggio($color){
    background-color: lighten($color, 20%);
        .card {
            border-radius: 8px;
            box-shadow: 8px 8px 16px #000000;
            border: 2px solid $white;
            background-color: $color;

        }
        .card-image {
            border-bottom: 2px solid $charcoal;
        }
        .media {
            .title,
            .subtitle {
                color: white;
                text-shadow: 1px 1px 2px #000000;
            }
        }
        .media-content {
            .title {
                margin-top: 5%;
            }
            .subtitle {
                font-size: 1.8rem;
                ;
            }
        }
        .card-content {
            background-color: white;
            height: 100%;
            font-family: $family-secondary;
            font-size: 1.4rem;
            .bio {
                font-family: $family-secondary;
                font-size: 1.6rem;
                font-weight: bold;
            }
            .tratti {
                font-family: $family-primary;
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 1.2rem;
            }
            .biog {
                font-family: $family-secondary;
                //padding-right: 30px;
                font-size: 1.4rem;
                font-style: italic;
                text-align: left;
                ul {
                    list-style: none;
                }
            }
            .title {
                font-style: italic;
                font-size: 1.3rem;
            }
            hr {
                border: 1px dashed $charcoal;
            }
            .dwarfBars {
                font-size: 1rem;
                font-weight: bold;
            }
            .caratteristiche {
                font-family: $family-secondary;
                font-size: 1.4rem;
                margin-bottom: 3%;
            }
            .quote {
                font-weight: bold;
                .message-body {
                    background-color:$color;
                    color: $white;
                    border-color: lighten($color, 40%);
                }
            }

        }
        img {
            border-radius: 50%;
            padding: 10px;
        }
        .explain {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-shadow: 2px 2px 4px $colore1;
            padding: 10%;
            font-size: 1.4rem;
            ::first-letter {
                font-size: 4rem;
                color: $color;
                text-shadow: 2px 2px 4px white;
            }
        }
}


#DWARF {
    @include personaggio(#3D3D3D)
}

#WIZARD {
    @include personaggio(#66285b)
}

#kNIGHT {
    @include personaggio(#7e0d00)
}

#ARCHER{
    @include personaggio(#296307)
}

#HACKER {
    @include personaggio(#0e4353)
}


.is-horizontal-center {
    justify-content: center;
}

.intro {
    color: $colore1-con;
    text-shadow: 2px 2px 4px $colore1;
    hr {
        border: 1px solid $colore1-con;
    }
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 1.8em;
    }
    p {
        font-size: 2em;
        font-weight: bold;
    }
}

.navbar-item {
    font-size: 1.5em;
}


/* Progress Bar Skills */
.progress>svg {
    height: 100%;
    display: block;
}

/*SCroolBar*/
body {
    ::-webkit-scrollbar {
        height: 10px;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: $colore1;
    }
}